<form method="POST" action="/booking">
  <p>Your Name: <input type="text" name="booking[name]" /></p>
  <p>Table Size: <input type="number" name="booking[table_size]" min="1" max="12" /></p>
  <p>Phone number: <input type="text" name="booking[phone_number]" /></p>
  <p>Email Address: <input type="email" name="booking[email_address]" /></p>
  <input type="submit">
</form>