<p>Welcome <%= cookies[:name].gsub('+', ' ')%> <p>
<a href="/booking_form">Make a Booking</a><br/>
<a href="/customer_bookings">View my bookings</a><br/>
<a href="/customer_info">View my profile</a><br/>
<a href="/logout">Log Out</a>