<h3>These are your active bookings</h3>
<% @bookings.each do |booking| %>
    Booking <%= @bookings.index(booking) + 1 %>
    <form action="/booking/info/<%= booking[:id]%>" method="get">
      <input type="submit" value="view">
    </form>
<%end%>
<a href="<%= settings.address %>:7272/customer/home">Back to homepage</a>