<p>Welcome to the Reservations and Bookings</p>
<p>Login or SignUp in order to book or view your reservations</p>
<a href="/login">Login</a><br><br>
<a href="/signup">SignUp</a>
<br/>
<p>OR</p>
<p><a href="//localhost:9292">Login</a> as staff</p>