<h2>My Profile Information</h2>
<p>Name:<%= @customer[:name] %></p>
<p>Phone Number:<%= @customer[:phone_number] %></p>
<p>Email Address:<%= @customer[:email_address] %></p>
<p>Number of Active Bookings:<%= @customer[:number_bookings] %></p>
<p><a href="//localhost:7272/customer/home">Back to homepage</a></p>