<h3>Register Details</h3>
<form method="POST" action="/signup">
  <p>Full Name: <input type="text" name="register_info[name]" /></p>
  <p>Phone number: <input type="text" name="register_info[phone_number]" /></p>
  <p>Email Address: <input type="email" name="register_info[email_address]" /></p>
  <p>username: <input type="text" name="register_info[username]" required/></p>
  <p>password: <input type="password" name="register_info[password]" required/></p>
  <input type="submit">
</form>
