<h2>Booking Information</h2>
<p>Customer Name:<%= @booking[:name] %></p>
<p>Table Size:<%= @booking[:table_size] %></p>
<p>Phone Number:<%= @booking[:phone_number] %></p>
<p>Email Address:<%= @booking[:email_address] %></p>