<h2>Active Reservations</h2>
<span>
  <% @bookings.each do |booking| %>
    Reservation by: <%= booking[:name] %><br/>
    <form action="/booking/<%= booking[:id]%>" method="get" style="float:left; padding-right:20px">
      <input type="submit" value="View/Edit">
    </form>
    <form action="/booking/<%=booking[:id]%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>
  <a href="//localhost:9292/staff/home">Back to homepage</a>
</span>