<h2>Bookings</h2>
<span>
  <% @bookings.each do |booking| %>
    Booking <%= @bookings.index(booking) + 1 %>
    <form action="/booking/<%= booking[:id]%>" method="get">
      <input type="submit" value="view">
    </form>
    <form action="/booking/<%=booking[:id]%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>
</span>