<h2>List of Customers</h2>
<span>
  <% @customers.each do |customer| %>
    <%= customer[:name] %>
    <form action="/customer/<%= customer[:id]%>" method="get">
      <input type="submit" value="view more info">
    </form>
  <% end %>
  <p><a href="//localhost:9292/staff/home">Back to Homepage</a></p>
</span>