<h3>Login as Staff</h3>
<form method="POST" action="/login">
  <p>username: <input type="text" name="username" required/></p>
  <p>password: <input type="password" name="password" required/></p>
  <input type="submit">
</form>